.features {
	background-color: $gray_bg-color;
	padding: 63px 0 229px 0;
	@include sm-tablet {
		padding: 43px 0 79px 0;
	}
	&__title {
		text-align: center;
		padding-bottom: 70px;
		@include sm-tablet {
			padding-bottom: 30px;
		}
	}
	&__inner {
		display: flex;
		justify-content: center;
		@include media-tablet {
			flex-wrap: wrap;
		}
		
	}
	&__holder{
		position: relative;
		flex-basis: 33%;
		
		@include media-tablet {
			flex-basis: 45%;
		}
		@include sm-tablet {
			flex-basis: 100%;
		}
		&:not(:last-child) {
			margin-right: 30px;
			@include media-laptop {
				margin-right: 15px;
			}
			@include media-tablet {
				margin-bottom: 150px;
				margin-right: 0px;
			}
		}
	}
	&__image {
		max-width: 350px;
		height: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 8px;
		@include sm-tablet {
			margin: 0 auto;
		}
		&-first {
			background-image: url("../../assets/images/future_01.jpg");
		}
		&-second {
			background-image: url("../../assets/images/future_02.jpg");
		}
		&-third {
			background-image: url("../../assets/images/future_03.jpg");
		}
		
	}
	&__front {
		width: 293px;
		height: 198px;
		background-color: $white_txt-color;
		position: absolute;
		top: 103%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 8px;
		padding: 33px 0 25px 0;
		box-shadow: 0px 5px 30px 0px #0000001A;
		@include media-tablet {
			width: 245px;
		}
		@include sm-tablet {
			width: 270px;
		}
	}
	&__items {
		max-width: 229px;
		margin: 0 auto;
		color: $footer_txt-color;
		font-size: 0.88rem;
		text-align: center;
	}
	&__descr {
		text-align: center;
		padding: 20px 0 22px 0;
	}
}
