.focus {
	padding: 94px 0 95px 0;
	background-color: $primary_color;
	color: $white_txt-color;
	@include sm-tablet {
		padding: 45px 0;
	}
	&__title {
		color: $white_txt-color;
		padding: 20px 0 50px 0;
		@include sm-tablet {
			padding: 20px 0 30px 0;
		}
	}
	&__info,
	&__image {
		flex-direction: 40%;
	}

	&__download {
		margin-top: 50px;
		display: flex;
		max-width: 134px;
		justify-content: space-between;
		align-items: center;
		@include media-tablet {
			margin: 30px 0;
		}
	}
	&__image {
		width: 445px;
		height: 311px;
		background-image: url("../../assets/images/Video_bg2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 15px;
		margin-left: 125px;
		@include media-laptop {
			margin-left: 55px;
		}
		@include media-tablet {
			margin-left: 0;
		}
	}
}
