$white_txt-color: #ffffff;
$black_txt-color: #000000;
$descr_color: #101010;
$primary_color: #ed4c5c;
$footer_txt-color: #121212;
$gradient: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
