@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 140%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 5.14rem;
  line-height: 120%;
  letter-spacing: 5px;
}

h2 {
  font-weight: 600;
  font-size: 2.57rem;
  line-height: 120%;
  color: #000000;
}

h3 {
  font-weight: 600;
  font-size: 1.29rem;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  border-radius: 6px;
  text-transform: uppercase;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  padding: 17px 53px 16px 52px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  max-width: 445px;
  text-align: left;
}

.link__more {
  color: #ed4c5c;
}

.link__more:hover {
  font-weight: 700;
}

.top-background {
  padding-top: 17px;
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url("../../assets/images/hero_bg.png");
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../../assets/images/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header {
  position: relative;
}

.header .container {
  padding: 39px 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1107px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.28rem;
  line-height: 120%;
}

.header__logo-img {
  vertical-align: middle;
  margin-right: 7px;
}

.header-menu {
  margin-left: -70px;
}

.header-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  max-width: 445px;
  line-height: 120%;
}

.header-menu__item:not(:last-child) {
  margin-right: 20px;
}

.header-menu__item-active {
  font-weight: 700;
}

.header-menu__link {
  position: relative;
  padding-bottom: 5px;
}

.header-menu__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ffffff;
  height: 1px;
}

.header-menu__link::after,
.header-menu__link ::before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-menu__link:hover {
  font-weight: 700;
}

.header-menu__link:hover::after {
  width: 100%;
}

.header__button {
  max-width: 100px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 11px 28px 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__button-login {
  line-height: 120%;
}

.hero {
  padding: 125px 0 187px 0;
  color: #ffffff;
}

.hero__description {
  max-width: 500px;
  font-weight: 600;
  text-align: center;
  font-size: 1.71rem;
  line-height: 150%;
  margin: 39px auto;
}

.hero__btn {
  margin-top: 58px;
  color: #ed4c5c;
  background-color: #ffffff;
}

.management {
  padding: 94px 0 95px 0;
}

.management__info {
  padding-top: 30px;
  margin-right: 125px;
}

.management__info, .management__image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 40%;
          flex-direction: 40%;
}

.management__title {
  color: #000000;
}

.management__text {
  margin: 45px 0 20px 0;
}

.features {
  background-color: #fafafa;
  padding: 63px 0 229px 0;
}

.features__title {
  text-align: center;
  padding-bottom: 70px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__inner-image {
  position: relative;
  max-width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.features__inner-image:not(:last-child) {
  margin-right: 30px;
}

.features__inner-image--first {
  background-image: url("../../assets/images/future_01.jpg");
}

.features__inner-image--second {
  background-image: url("../../assets/images/future_02.jpg");
}

.features__inner-image--third {
  background-image: url("../../assets/images/future_03.jpg");
}

.features__inner-front {
  width: 293px;
  height: 198px;
  background-color: #ffffff;
  position: absolute;
  top: 103%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 33px 0 25px 0;
}

.features__inner-items {
  max-width: 229px;
  margin: 0 auto;
  color: #121212;
  font-size: 0.88rem;
  text-align: center;
}

.features__inner-descr {
  text-align: center;
  padding: 20px 0 22px 0;
}

.technology {
  padding-bottom: 125px;
}

.technology__title {
  text-align: center;
  padding: 63px 0 110px 0;
}

.technology__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology__inner-number {
  max-width: 196px;
  text-align: center;
  font-weight: 700;
  font-size: 7.14rem;
  color: #10101014;
}

.technology__inner-number:not(:last-child) {
  margin-right: 96px;
}

.technology__inner-icon--cloud {
  margin-top: -10px;
}

.technology__inner-title {
  color: #101010;
}

.technology__inner-title:not(:first-child) {
  padding: 15px 0 8px 0;
}

.technology__inner-descr {
  max-width: 195px;
  text-align: center;
  font-size: 0.86rem;
  line-height: 120%;
  color: #000000;
}

.focus {
  padding: 94px 0 95px 0;
  background-color: #ed4c5c;
  color: #ffffff;
}

.focus__title {
  color: #ffffff;
  padding: 20px 0 50px 0;
}

.focus__info, .focus__image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 40%;
          flex-direction: 40%;
}

.focus__download {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 134px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.focus__image {
  width: 445px;
  height: 311px;
  background-image: url("../../assets/images/Video_bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-left: 125px;
}

.contactform {
  padding: 117px 0 128px 18px;
}

.contactform__wrapper {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contactform__info {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 115px;
}

.contactform__inner {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.contactform__title {
  padding-bottom: 50px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 0;
}

.contactform__text {
  max-width: 434px;
}

.contactform input {
  width: 100%;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 22px;
  padding: 21px 0px 20px 31px;
  border-radius: 6px;
  border: 1px solid #333333;
}

.contactform input:valid:not(:placeholder-shown) {
  border-color: green;
}

.contactform input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.contactform input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.contactform input:focus {
  outline: 1px solid #ed4c5c;
  border: none;
}

.contactform input p {
  max-width: 540px;
}

.contactform input[name="firstName"],
.contactform input[name="lastName"] {
  width: 255px;
}

.contactform input[name="firstName"] {
  margin-right: 30px;
}

.contactform .form__btn {
  background-color: #ed4c5c;
  color: #ffffff;
  text-transform: uppercase;
  padding: 17px 34px 16px 34px;
  margin: 0;
}

.contactform .form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  display: none;
  margin-top: -5px;
}

.footer {
  padding: 85px 0 0 0;
  background-color: #fafafa;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 98px;
}

.footer__column {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.footer__column:not(:last-child) {
  margin-right: 30px;
}

.footer__column-title {
  padding-bottom: 30px;
  text-align: left;
}

.footer__column-address {
  max-width: 180px;
}

.footer__column-email a {
  color: #101010;
}

.footer__column-phone {
  padding: 9px 0 15px 0;
}

.footer__column-phone a {
  color: #121212;
}

.footer__column-social img {
  margin-right: 12px;
}

.footer__column-list a {
  color: #000000;
  line-height: 120%;
  font-size: 0.88rem;
  text-transform: capitalize;
}

.footer__column-image {
  max-width: 216px;
}

.footer__column-image img {
  width: 100%;
}

.footer__copyright {
  padding-bottom: 86px;
  font-size: 0.88rem;
}
