@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 140%;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 5.14rem;
  line-height: 120%;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 555px) {
  h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 2.57rem;
  line-height: 120%;
  color: #000000;
}

@media (max-width: 555px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-weight: 600;
  font-size: 1.29rem;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  border-radius: 6px;
  text-transform: uppercase;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  padding: 17px 53px 16px 52px;
  -webkit-transition: all  ease 0.3s;
  transition: all  ease 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info {
  max-width: 445px;
  text-align: left;
}

@media (max-width: 768px) {
  .info {
    text-align: center;
  }
}

.link__more {
  color: #ed4c5c;
  -webkit-transition: all  ease-in-out 0.5s;
  transition: all  ease-in-out 0.5s;
  display: inline-block;
}

.link__more:hover {
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-background {
  padding-top: 17px;
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url("../../assets/images/hero_bg.png");
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../../assets/images/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (max-width: 768px) {
  .top-background {
    min-height: 90vh;
  }
}

@media (max-width: 555px) {
  .top-background {
    min-height: 80vh;
  }
}

.header {
  position: relative;
}

.header .container {
  padding: 39px 0;
}

@media (max-width: 768px) {
  .header .container {
    padding: 20px 0;
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1107px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .header-wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 555px) {
  .header__logo {
    display: none;
  }
}

.header__logo-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.28rem;
  line-height: 120%;
}

.header__logo-img {
  vertical-align: middle;
  margin-right: 7px;
}

@media (max-width: 555px) {
  .header__logo-img {
    margin-right: 3px;
  }
}

.header-menu {
  margin-left: -70px;
}

@media (max-width: 768px) {
  .header-menu {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  max-width: 445px;
  line-height: 120%;
}

@media (max-width: 768px) {
  .header-menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 345px;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: 50vh;
    background-color: rgba(182, 68, 68, 0.65);
    padding: 20px 30px 30px 30px;
    -webkit-transition: right 0.8s;
    transition: right 0.8s;
    overflow: auto;
  }
  .header-menu__items._active {
    right: 0;
  }
}

@media (max-width: 768px) and (max-width: 375px) {
  .header-menu__items._active {
    right: 1%;
  }
}

@media (max-width: 768px) {
  .header-menu__items li {
    margin: 30px 0;
    font-size: 1.8rem;
  }
  .header-menu__items li a {
    text-align: right;
    letter-spacing: 1.5px;
  }
}

@media (max-width: 375px) {
  .header-menu__items {
    max-width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 555px) {
  .header-menu__items {
    padding: 0px;
  }
}

.header-menu__item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .header-menu__item:not(:last-child) {
    margin-right: 10px;
  }
}

.header-menu__item-active {
  font-weight: 700;
}

.header-menu__link {
  position: relative;
  padding-bottom: 5px;
}

.header-menu__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: " ";
  color: transparent;
  background: #ffffff;
  height: 1px;
}

.header-menu__link::after,
.header-menu__link ::before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-menu__link:hover {
  font-weight: 700;
}

.header-menu__link:hover::after {
  width: 100%;
}

.header-menu .header__burger._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header-menu .header__burger._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header-menu .header__burger._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.header__button {
  max-width: 100px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 11px 28px 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__button-login {
  line-height: 120%;
}

.header__burger {
  display: none;
}

.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 2.5px;
  background-color: #ffffff;
}

.header__burger::before {
  top: 0%;
}

.header__burger::after {
  bottom: 1%;
}

@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 30px;
    height: 25px;
    background-color: transparent;
  }
}

.header__burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2.5px;
  top: 49%;
  background-color: #ffffff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.hero {
  padding: 125px 0 187px 0;
  color: #ffffff;
}

@media (max-width: 555px) {
  .hero {
    padding: 85px 0 137px 0;
  }
}

.hero__description {
  max-width: 500px;
  font-weight: 600;
  text-align: center;
  font-size: 1.71rem;
  line-height: 150%;
  margin: 39px auto;
}

.hero__btn {
  margin-top: 58px;
  color: #ed4c5c;
  background-color: #ffffff;
}

.management {
  padding: 94px 0 95px 0;
}

@media (max-width: 1200px) {
  .management {
    padding: 84px 0 85px 0;
  }
}

@media (max-width: 768px) {
  .management {
    padding: 54px 0 55px 0;
  }
}

@media (max-width: 555px) {
  .management {
    padding: 35px 0;
  }
}

.management__info {
  padding-top: 30px;
  margin-right: 125px;
}

@media (max-width: 1200px) {
  .management__info {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .management__info {
    padding-bottom: 30px;
    margin-right: 0;
  }
}

.management__info, .management__image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 40%;
          flex-direction: 40%;
}

@media (max-width: 1200px) {
  .management__info, .management__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: 30%;
            flex-direction: 30%;
  }
}

.management__title {
  color: #000000;
}

.management__text {
  margin: 45px 0 20px 0;
}

@media (max-width: 555px) {
  .management__text {
    margin: 25px 0 15px 0;
  }
}

@media (max-width: 555px) {
  .management__image img {
    margin: 0 auto;
    display: block;
    width: 90%;
  }
}

.features {
  background-color: #fafafa;
  padding: 63px 0 229px 0;
}

@media (max-width: 555px) {
  .features {
    padding: 43px 0 79px 0;
  }
}

.features__title {
  text-align: center;
  padding-bottom: 70px;
}

@media (max-width: 555px) {
  .features__title {
    padding-bottom: 30px;
  }
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .features__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__inner-image {
  position: relative;
  max-width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

@media (max-width: 768px) {
  .features__inner-image {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 555px) {
  .features__inner-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.features__inner-image:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 992px) {
  .features__inner-image:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .features__inner-image:not(:last-child) {
    margin-bottom: 150px;
  }
}

.features__inner-image--first {
  background-image: url("../../assets/images/future_01.jpg");
}

.features__inner-image--second {
  background-image: url("../../assets/images/future_02.jpg");
}

.features__inner-image--third {
  background-image: url("../../assets/images/future_03.jpg");
}

.features__inner-front {
  width: 293px;
  height: 198px;
  background-color: #ffffff;
  position: absolute;
  top: 103%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 33px 0 25px 0;
  -webkit-box-shadow: 0px 5px 30px 0px #0000001A;
          box-shadow: 0px 5px 30px 0px #0000001A;
}

@media (max-width: 768px) {
  .features__inner-front {
    width: 245px;
  }
}

@media (max-width: 555px) {
  .features__inner-front {
    width: 270px;
  }
}

.features__inner-items {
  max-width: 229px;
  margin: 0 auto;
  color: #121212;
  font-size: 0.88rem;
  text-align: center;
}

.features__inner-descr {
  text-align: center;
  padding: 20px 0 22px 0;
}

.technology {
  padding-bottom: 125px;
}

@media (max-width: 555px) {
  .technology {
    padding-bottom: 70px;
  }
}

.technology__title {
  text-align: center;
  padding: 63px 0 110px 0;
}

@media (max-width: 555px) {
  .technology__title {
    padding: 33px 0 60px 0;
  }
}

.technology__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .technology__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.technology__inner-number {
  max-width: 196px;
  text-align: center;
  font-weight: 700;
  font-size: 7.14rem;
  color: #10101014;
}

@media (max-width: 768px) {
  .technology__inner-number {
    padding-bottom: 50px;
  }
}

@media (max-width: 555px) {
  .technology__inner-number {
    margin: 0 15px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.technology__inner-number:not(:last-child) {
  margin-right: 96px;
}

@media (max-width: 768px) {
  .technology__inner-number:not(:last-child) {
    margin-right: 0px;
  }
}

.technology__inner-icon--cloud {
  margin-top: -10px;
}

.technology__inner-title {
  color: #101010;
}

.technology__inner-title:not(:first-child) {
  padding: 15px 0 8px 0;
}

.technology__inner-descr {
  max-width: 195px;
  text-align: center;
  font-size: 0.86rem;
  line-height: 120%;
  color: #000000;
  font-weight: 400;
}

.focus {
  padding: 94px 0 95px 0;
  background-color: #ed4c5c;
  color: #ffffff;
}

@media (max-width: 555px) {
  .focus {
    padding: 45px 0;
  }
}

.focus__title {
  color: #ffffff;
  padding: 20px 0 50px 0;
}

@media (max-width: 555px) {
  .focus__title {
    padding: 20px 0 30px 0;
  }
}

.focus__info, .focus__image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 40%;
          flex-direction: 40%;
}

.focus__download {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 134px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .focus__download {
    margin: 30px 0;
  }
}

.focus__download-link {
  opacity: 1;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.focus__download-link:hover {
  opacity: 0.7;
}

.focus__image {
  width: 445px;
  height: 311px;
  background-image: url("../../assets/images/Video_bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-left: 125px;
}

@media (max-width: 992px) {
  .focus__image {
    margin-left: 55px;
  }
}

@media (max-width: 768px) {
  .focus__image {
    margin-left: 0;
  }
}

.contactform {
  padding: 117px 0 128px 18px;
}

@media (max-width: 768px) {
  .contactform {
    padding: 87px 0 98px 10px;
  }
}

@media (max-width: 555px) {
  .contactform {
    padding: 57px 0 68px 10px;
  }
}

.contactform__wrapper {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 768px) {
  .contactform__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contactform__info {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 115px;
}

@media (max-width: 992px) {
  .contactform__info {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .contactform__info {
    margin-right: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-bottom: 30px;
  }
}

.contactform__inner {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.contactform__title {
  padding-bottom: 50px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 0;
}

@media (max-width: 555px) {
  .contactform__title {
    padding-bottom: 30px;
  }
}

.contactform__text {
  max-width: 434px;
}

.contactform input {
  width: 100%;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 22px;
  padding: 21px 0px 20px 31px;
  border-radius: 6px;
  border: 1px solid #333333;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 555px) {
  .contactform input {
    padding: 16px 0px 15px 21px;
    margin-bottom: 17px;
  }
}

.contactform input:valid:not(:placeholder-shown) {
  border-color: green;
}

.contactform input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.contactform input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.contactform input:focus {
  border: 1px solid #333333;
  outline: none;
}

.contactform input .form__line {
  max-width: 540px;
}

@media (max-width: 555px) {
  .contactform input .form__line {
    max-width: 400px;
  }
}

@media (max-width: 375px) {
  .contactform input .form__line {
    max-width: 350px;
  }
}

@media (max-width: 320px) {
  .contactform input .form__line {
    max-width: 290px;
  }
}

.contactform input[name="firstName"],
.contactform input[name="lastName"] {
  width: 255px;
}

@media (max-width: 1200px) {
  .contactform input[name="firstName"],
  .contactform input[name="lastName"] {
    width: 540px;
  }
}

@media (max-width: 555px) {
  .contactform input[name="firstName"],
  .contactform input[name="lastName"] {
    max-width: 375px;
  }
}

@media (max-width: 375px) {
  .contactform input[name="firstName"],
  .contactform input[name="lastName"] {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .contactform input[name="firstName"],
  .contactform input[name="lastName"] {
    max-width: 290px;
  }
}

.contactform input[name="firstName"] {
  margin-right: 30px;
}

@media (max-width: 1200px) {
  .contactform input[name="firstName"] {
    margin-right: 0px;
  }
}

.contactform .form__btn {
  background-color: #ed4c5c;
  color: #ffffff;
  text-transform: uppercase;
  padding: 17px 34px 16px 34px;
  margin: 0;
}

@media (max-width: 768px) {
  .contactform .form__btn {
    margin: 0 auto;
  }
}

.contactform .form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  display: none;
  margin-top: -5px;
}

.footer {
  padding: 85px 0 0 0;
  background-color: #fafafa;
}

@media (max-width: 555px) {
  .footer {
    padding: 50px 0 0 0;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 98px;
}

@media (max-width: 768px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px auto;
  }
}

.footer__column {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media (max-width: 768px) {
  .footer__column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 555px) {
  .footer__column {
    margin: 10px auto;
  }
}

@media (max-width: 320px) {
  .footer__column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.footer__column:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .footer__column:not(:last-child) {
    margin-right: 0;
  }
}

.footer__column-title {
  padding-bottom: 30px;
  text-align: left;
}

@media (max-width: 320px) {
  .footer__column-title {
    padding-bottom: 10px;
    text-align: center;
  }
}

.footer__column-address {
  max-width: 180px;
  font-size: 12px;
  font-style: normal;
}

@media (max-width: 320px) {
  .footer__column-address {
    max-width: 280px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer__column-email--link {
  color: #101010;
}

.footer__column-phone {
  padding: 9px 0 15px 0;
}

.footer__column-phone--link {
  color: #121212;
}

.footer__column-social--img {
  margin-right: 12px;
}

.footer__column-link {
  color: #000000;
  line-height: 120%;
  font-size: 0.88rem;
  text-transform: capitalize;
}

.footer__column-image {
  max-width: 216px;
}

.footer__column-image--img {
  width: 100%;
}

.footer__copyright {
  padding-bottom: 86px;
  font-size: 0.88rem;
}

@media (max-width: 555px) {
  .footer__copyright {
    padding-bottom: 26px;
    text-align: center;
  }
}
